.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  padding-left: 10px;
  padding-top: 5px;
}

.statistics_page div {
  display: inline-block
}

.car_list_item {
  padding-top: 25px;
}

.cars_list div img {
  width: 250px;
  height: 250px;
}

.search div {
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
