.App {
  /*text-align: center;*/
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer .thumb-md {
  border: 1px solid rgba(255, 2555, 255, .15);
  transition: border .1s linear;
}

.book {
  background-color:#e7e7e7;
  padding: 5px; 
}